<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Form to get data</title>
  </head>
  <body>
    <main>
      <section>
        <form action="/user/<%= user.id %>" method="POST">
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Enter the username here"
            value=" <%= user.name %>"
          />
          <input
            type="text"
            name="email"
            id="email"
            placeholder="Enter the email here"
            value=" <%= user.email %>"
          />
          <input
          type="number"
          name="age"
          id="age"
          placeholder="Enter the age here"
          value=" <%= user.age %>"
        />
        <input
        type="text"
        name="bio"
        id="bio"
        placeholder="Enter the bio here"
        value=" <%= user.bio %>"
      />
          <input type="submit" value="Update User" />
        </form>
      </section>
    </main>
  </body>
</html>